<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.daolezuche.controller"/>

    <!-- 对于不需要的拦截有服务器默认处理 -->
    <mvc:default-servlet-handler/>

    <!--权限地址初始化-->
    <bean id="accessInterfaceInspectAdmin" class="com.rpframework.module.common.bottom.listener.AccessInterfaceInspect">
        <constructor-arg index="0">
            <list>
                <value>com.daolezuche.controller</value>
            </list>
        </constructor-arg>
    </bean>

    <bean id="menuControllerAdmin" class="com.rpframework.module.common.bottom.controller.MenuController">
        <constructor-arg index="0">
            <list>
                <value>com.daolezuche.controller</value>
            </list>
        </constructor-arg>
    </bean>
</beans>